<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.8" />
    <httpRuntime targetFramework="4.8" />
  </system.web>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!-- Para evitar revelar información de los metadatos, establezca los valores siguientes en false antes de la implementación -->
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <!-- Para recibir detalles de las excepciones en los errores para la depuración, establezca el siguiente valor en true. Para no revelar información sobre las excepciones establézcalo en false antes de la implementación -->
          <serviceDebug includeExceptionDetailInFaults="false" /> <!-- Esto sirvev para que el usuario vea el error real o no, si esta en false, solo verá así como que hay un error y ya, pero si está en true para desarrollo, mostrará que error es y mas detalles.-->
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <protocolMapping>
        <add binding="basicHttpsBinding" scheme="https" />
    </protocolMapping>    
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
    <!--
        Para examinar el directorio raíz de la aplicación web durante la depuración, establezca el valor siguiente en true.
        Establézcalo en false antes de la implementación para evitar revelar información sobre la carpeta de aplicación web.
      -->
    <directoryBrowse enabled="true" />
  </system.webServer>

  <runtime>

    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">

      <dependentAssembly>

        <assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />

        <bindingRedirect oldVersion="0.0.0.0-4.2.4.0" newVersion="4.2.4.0" />

      </dependentAssembly>

      <dependentAssembly>

        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />

        <bindingRedirect oldVersion="0.0.0.0-6.0.3.0" newVersion="6.0.3.0" />

      </dependentAssembly>

      <dependentAssembly>

        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />

        <bindingRedirect oldVersion="0.0.0.0-4.0.1.2" newVersion="4.0.1.2" />

      </dependentAssembly>

      <dependentAssembly>

        <assemblyIdentity name="Microsoft.Bcl.AsyncInterfaces" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />

        <bindingRedirect oldVersion="0.0.0.0-10.0.0.8" newVersion="10.0.0.8" />

      </dependentAssembly>

      <dependentAssembly>

        <assemblyIdentity name="Google.Protobuf" publicKeyToken="a7d26565bac4d604" culture="neutral" />

        <bindingRedirect oldVersion="0.0.0.0-3.32.0.0" newVersion="3.32.0.0" />

      </dependentAssembly>

      <dependentAssembly>

        <assemblyIdentity name="K4os.Compression.LZ4.Streams" publicKeyToken="2186fa9121ef231d" culture="neutral" />

        <bindingRedirect oldVersion="0.0.0.0-1.3.8.0" newVersion="1.3.8.0" />

      </dependentAssembly>

      <dependentAssembly>

        <assemblyIdentity name="ZstdSharp" publicKeyToken="8d151af33a4ad5cf" culture="neutral" />

        <bindingRedirect oldVersion="0.0.0.0-0.8.6.0" newVersion="0.8.6.0" />

      </dependentAssembly>

    </assemblyBinding>

  </runtime>
	<connectionStrings>
		<add name="SEG" connectionString="server=mysql-admin-personal-iic-2026-admin-personal-iic-2026.k.aivencloud.com;database=SEG;uid=avnadmin;pwd=AVNS_D9NXIT8nECYcHW1YV31;Port=16341;SslMode=Required;" providerName="MySql.Data.MySqlClient" />

		<add name="BIT" connectionString="server=mysql-admin-personal-iic-2026-admin-personal-iic-2026.k.aivencloud.com;database=BIT;uid=avnadmin;pwd=AVNS_D9NXIT8nECYcHW1YV31;Port=16341;SslMode=Required;" providerName="MySql.Data.MySqlClient" />

		<add name="GEN" connectionString="server=mysql-admin-personal-iic-2026-admin-personal-iic-2026.k.aivencloud.com;database=GEN;uid=avnadmin;pwd=AVNS_D9NXIT8nECYcHW1YV31;Port=16341;SslMode=Required;" providerName="MySql.Data.MySqlClient" />

		<add name="EMP" connectionString="server=mysql-admin-personal-iic-2026-admin-personal-iic-2026.k.aivencloud.com;database=EMP;uid=avnadmin;pwd=AVNS_D9NXIT8nECYcHW1YV31;Port=16341;SslMode=Required;" providerName="MySql.Data.MySqlClient" />
		<add name="OFE" connectionString="server=mysql-admin-personal-iic-2026-admin-personal-iic-2026.k.aivencloud.com;database=OFE;uid=avnadmin;pwd=AVNS_D9NXIT8nECYcHW1YV31;Port=16341;SslMode=Required;" providerName="MySql.Data.MySqlClient" />
	</connectionStrings>
</configuration>
